<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Kenneth Reitz's Journal</title>
    <link rel="stylesheet" href="tufte.css"/>
    <link rel="stylesheet" href="latex.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <article>
      <h1 id="tufte-css">A (Public) Journal</h1>
      <p class="subtitle">Kenneth Reitz</p>
      <section>
        <p>Welcome to my public journal &mdash; a place for essays that don't quite belong on my blog, but deserve a home of some sort online. Feel free to read and enjoy these random thoughts, and take away from them what you wish!</p>
      </section>

      <section>
        <h2 id="fundamentals">Thoughts & Musings</h2>
        <h3 id="fundamentals--sections-and-headers">A collection of hand-written essays by Kenneth Reitz.</h3>
        <ul>
        {% for entry in entries %}
          <li><a href="/entry/{{ entry.slug }}">{{ entry.title }}</a>.</li>
        {% endfor %}
        </ul>
      </section>

    </article>
  </body>
</html>
